$blue-color: #1f70dd
$theme-color: lighten(#000, 10%)
    
.wrapper
    display: flex
    gap: 20px
    max-width: 965px
    flex-wrap: wrap
    margin-bottom: 16px

    button
        flex-grow: 1
        max-width: 160px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

.button
    display: flex
    justify-content: center
    width: auto !important
    min-width: 60px
    padding: 12px 16px
    border: 2px solid #79747e
    border-radius: 25px
    transition: background .15s ease-in-out, color .15s ease-in-out
    font-size: 1em
    letter-spacing: .85px

    &:hover
        cursor: pointer
    &:active
        background-color: #f3eff5

    &.selected
        position: relative
        border: 2px solid #fff
        color: #fff

        

    svg
        height: 20px

.button_devices
    background-color: #fff

    &:hover
        background-color: lighten($blue-color,45%)
        background-color: darken(#fff,5%)

    &.selected
        background-color: $blue-color
        outline: 2px solid $blue-color

        &:hover
            cursor: default
            background-color: $blue-color

.button_websites
    background-color: #e7e0ec

    &:hover
        background-color: darken(#e7e0ec,5%)

    &.selected
        background-color: $theme-color
        outline: 2px solid $theme-color

        &:hover
                cursor: default
                background-color: $theme-color