.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	max-width: 950px;
	margin: auto;
	gap: 15px;
	margin-top: 50px;
}

.main .link_form {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.main .link_form > div {
	margin-right: 2em;
}

.main .link_form button {
	padding: 0 1.75em;
}

.main .link_form .text_field {
	width: 90%;
}

.main .bold {
	font-weight: bold;
}

.main .processing_status {
	font-size: 1.25em;
	margin: 1em 0;
}

/* 
.main div > input {
	width: 400px;
	padding: 2.5px;
	margin-right: 15px;
}

.main button {
	padding: 2.5px 5px;
	display: block;
}

.main button:hover {
	cursor: pointer;
}

.main label {
	display: inline-block;
	margin-top: 5px;
	width: 30%;
}

.main label:hover {
	cursor: pointer;
} */

.main button:hover {
	cursor: pointer;
}

.main button[class*="submit-button"] {
	min-width: 120px;
}
.main button[class*="submit-button"]:hover {
	cursor: inherit;
	background-color: #fff;
}

.main .submit-button-unsubmitted:hover {
	cursor: pointer !important;
	background-color: rgba(25, 118, 210, 0.04) !important;
}

.submit-button-loading,
.submit-button-loading:hover {
	border: 1px solid orange;
}

.loading_spinner {
	color: rgb(254, 187, 62);
}

.submit-button-complete,
.submit-button-complete:hover {
	border: 1px solid rgb(8, 179, 8);
}

.submit-button-error,
.submit-button-error:hover {
	border: 1px solid red;
}

.submit-button-error > div svg:nth-child(2) {
	right: -25%;
	transform: translateX(25%);
}

.repeat-button {
	position: absolute;
	padding: 0 !important;
	width: 50px;
	height: 50px;
	top: 50%;
	right: -60px;
	transform: translateY(-50%);
	opacity: 1;
	transition: 1.23s ease opacity;
}

.repeat-button > svg {
	scale: 1.4;
}

.hidden {
	position: absolute;
	opacity: 0;
}

.modal_box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	background-color: #fff;
	border: 1px solid #ef6767a6;
	box-shadow: #5d5858 1px 1px 22px;
	padding: 2rem;
}

.modal_box .modal_title {
	color: #c30b0ba6;
}

.modal_box button {
	float: right;
	margin-top: 2em;
}
