.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	max-width: 950px;
	margin: auto;
	gap: 15px;
	margin-top: 50px;
}

.main .link_form {
	display: flex;
	justify-content: space-between;
}

.main .link_form > div {
	margin-right: 2em;
}

.main .link_form button {
	padding: 0 1.75em;
}

.main .link_form .text_field {
	width: 90%;
}

/* 
.main div > input {
	width: 400px;
	padding: 2.5px;
	margin-right: 15px;
}

.main button {
	padding: 2.5px 5px;
	display: block;
}

.main button:hover {
	cursor: pointer;
}

.main label {
	display: inline-block;
	margin-top: 5px;
	width: 30%;
}

.main label:hover {
	cursor: pointer;
} */
